@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(78, 78, 78);
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgb(30, 82, 192);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37, 99, 235);
}

.references-enter {
  display: block;
}

.references-exit {
  display: none;
}
